.example-spacer {
  flex: 1 1 auto;
}
.bouton1{
  background-color: #DFE0E5;
}
.bouton2{
  background-color: #DFE0E5;
}
.nav{
  background-color: #DFE0E5;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
}
